<% provide :title, t("home") %>
<div id="stage" class="py-5 mb-5">
  <div id="stage-caption">
    <h1 class="display-3">Welcome to Viblo</p>
    <% if logged_in? %>
      <%= link_to "Create new post", post_path,
        class: "btn btn-lg btn-success"
       %>
    <% else %>
      <%= link_to t("sign_up_now"), signup_path, class: "btn btn-lg btn-success"
       %>
    <% end %>
  </div>
</div>
<% if @feed_items.any? %>
  <%= render "micropost_home" %>
<% end %>





